/* Global Styles */
:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
  --color-primary: #8a94e1;
  --color-background: #ffffff;
  --color-text: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}